*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font-family: 'Oswald', sans-serif; */
  --midnight: #2E323F;
  --dark-navy: #3B4050;
  --cobalt: #6F737F;
  --white: #FFFFFF;
  --gold: #A59678;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  color: black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.section-content {
  padding: 5em 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3125rem;
}

.nav {
  background-color: var(--midnight);
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 2em 0;
}

.nav__list {
  padding: 2em 0;
}

.nav__item {
  padding: .8em;
}

.nav__link,
.link--button {
  color: var(--white);
  font-size: 1.125rem;
}

.link--button {
  background-color: var(--gold);
  padding: .5em 1.5em;
  border-radius: 100px;
  font-family: 'Oswald', sans-serif;
}

.section-1 {
  background-color: var(--dark-navy);
  color: var(--white);
}

.section-1__headline span {
  color: var(--gold)
}

.section-1__text {
  padding-top: 2.3em;
  padding-bottom: 1em;
  font-size: 1.5rem;
}

.section-2 {
  background-color: rgb(240, 240, 239);
  text-align: center;
  font-size: 1.125rem;
}

.section-2__col + .section-2__col {
  padding-top: 2em;
}

.section-2__headline {
  color: var(--gold);
}

.section-2__content {
  padding-top: 1em;
}

.section-3__headline {
  color: var(--gold);
}

.section-3__text {
  font-size: 1.3125rem;
  padding: 1.5em 0;
}

.section-3__content-box {
  background-color: var(--dark-navy);
  color: var(--white);
  padding: 1.5em;
  text-align: center;
  font-size: 1.125rem;
}

.section-3__content-box:nth-child(2) {
  margin: 1em 0;
}

.section-3__content-box {
  background-color: var(--dark-navy);
  color: var(--white);
  padding: 1.5em;
  text-align: center;
}

.section-3__content-box__text {
  padding-top: 1.5em;
}

.section-3__image {
  display: block;
}

.footer {
  background-color: var(--dark-navy);
  color: var(--white);
  text-align: center;
}

.footer__content {
  padding-top: 1.5em;
}

.footer__item,
.footer__col__header,
.footer__col__text {
  padding-top: 1.3em;
}

.footer__link {
  color: var(--white);
}

.footer__col__header {
  color: var(--gold)
}


@media (min-width: 700px) {
  /* .flex-row {
    display: flex;
  } */

  .flex-row--a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__list {
    display: flex;
  }

  .section-2__col {
    width: 30%;
  }

  .section-2__col + .section-2__col {
    padding-top: 0;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 5.625rem;
  }
  .flex-row {
    display: flex;
  }

  .flex-row--between {
    justify-content: space-between;
  }

  .section-1__col {
    width: 50%;
  }

  .section-1__content {
    align-items: flex-end;
    padding: 8em 0;
  }

  .section-1__col + .section-1__col {
    padding-left: 2em;
  }

  .section-1__link {
    display: inline-block;
    margin-top: 2.4em;
  }

  .section-3__col--a {
    width: 58%;
  }

  .section-3__col--b {
    width: 30%;
  }

  .section-4__col--a {
    width: 45%;
    margin-right: 8em;
    text-align: left;
  }

  .section-4__col--b {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }
}